body {
  background: #17141d;
}
.header,
.timer {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-size: 50px;
  text-align: center;
  color: #2d2f2f;
  text-shadow: 0 0 7px rgb(255, 255, 255), 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px #0e49b5, 0 0 82px #0e49b5, 0 0 92px #0e49b5, 0 0 102px #0e49b5,
    0 0 151px #0e49b5;
  /* text-shadow: [x-offset] [y-offset] [blur-radius] [color]; */
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 1rem #000272,
    0 0 0.8rem #000272, 0 0 2.8rem #000272, inset 0 0 1.3rem #000272;
}

.title {
  font-size: 50px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  box-sizing: border-box;
  text-align: center;
  background: linear-gradient(
    to bottom right,
    rgb(37, 37, 63),
    rgb(100, 98, 98)
  );
}

.container {
  display: flex;
  margin: auto;
  width: 50%;
  margin-top: 10%;
  border-radius: 16px;
  box-shadow: -1rem 0 3rem;
  background: #17141d;
  padding: 10px;
  justify-content: center;
}

.game-btns {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

#hard {
  cursor: pointer;
  border: solid 2px black;
  background-color: #db0707;
  border-radius: 15px;
  font-size: xx-large;
  font-family: "Oswald", sans-serif;
  width: fit-content;
  height: fit-content;
}

#easy {
  cursor: pointer;
  border: solid 2px black;
  font-family: "Oswald", sans-serif;
  background-color: #3bad31;
  border-radius: 15px;
  font-size: xx-large;
  width: fit-content;
  height: fit-content;
}

.intro {
  font-size: x-large;
  color: rgb(190, 189, 189);
}

.hide {
  display: none;
}

.question {
  color: white;
  font-size: xx-large;
  font-family: serif;
  font-weight: bold;
}

#answer-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  height: 50%;
}

#answer-button {
  border-radius: 15px;
  width: 70%;
  text-align: center;
  background-color: #033fff;
  color: white;
  margin-top: 15px;
  font-size: x-large;
  font-weight: bold;
  border: solid;
}

.correctInfo {
  color: green;
  text-align: center;
}

.incorrectInfo {
  color: red;
  text-align: center;
}
