body {
  background: #17141d;
}
.header,
.timer {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-size: 50px;
  text-align: center;
  color: #2d2f2f;
  text-shadow: 0 0 7px rgb(255, 255, 255), 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px #5c7aea, 0 0 82px #5c7aea, 0 0 92px #5c7aea, 0 0 102px #5c7aea,
    0 0 151px #5c7aea;
  /* text-shadow: [x-offset] [y-offset] [blur-radius] [color]; */
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 1rem #14279b,
    0 0 0.8rem #14279b, 0 0 2.8rem #14279b, inset 0 0 1.3rem #14279b;
}

.title {
  font-size: 50px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  box-sizing: border-box;
  text-align: center;
  background: linear-gradient(
    to bottom right,
    rgb(37, 37, 63),
    rgb(100, 98, 98)
  );
}

.container {
  display: flex;
  margin: auto;
  width: 50%;
  margin-top: 10%;
  border-radius: 16px;
  box-shadow: -1rem 0 3rem;
  background: #17141d;
  padding: 10px;
}

#start {
  margin-left: 45%;
  padding: 10px;
}

.intro {
  font-size: x-large;
  color: white;
}

.hide {
  display: none;
}

.question {
  color: white;
  text-align: center;
  font-size: x;
}
