body {
  background: url(./img/labyrinth.jpg);
  background-size: 100%;
}

.title {
  font-size: 50px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  box-sizing: border-box;
  text-align: center;
  background: linear-gradient(
    to bottom right,
    rgb(37, 37, 63),
    rgb(100, 98, 98)
  );
}

.container {
  margin: auto;
  padding: 10px;
  height: 300px;
  width: 50%;
  margin-top: 10%;
  border: solid 5px rgb(67, 38, 71);
  background: linear-gradient(
    to bottom right,
    rgb(253, 253, 253),
    rgb(75, 72, 72)
  );
}

.start {
  text-align: center;
  margin-top: 200px;
  line-height: 50px;
  width: 100px;
}

.hide {
  display: none;
}
